:root {
  --clhc-calendar-border-color: initial;
  --clhc-calendar-border-radius: initial;
  --clhc-calendar-background: initial;
  --clhc-modal-position-left: 0;
  --clhc-modal-position-top: 0;
}

.clhc .tabs {
  display: flex;
}
.clhc .tabs button {
  width: 75px;
  margin: 0;
  margin-right: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border: 1px solid var(--background-modifier-border);
  border-bottom: 2px solid var(--background-modifier-border);
  box-shadow: var(--shadow-s);
}
.clhc .tabs button:hover {
  background-color: var(--background-primary);
}
.clhc .tabs button.active {
  background-color: var(--background-primary);
  border-bottom: none;
  box-shadow: none;
  font-weight: bold;
}
.clhc .tab-content {
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-primary);
  color: var(--text-normal);
  border: 1px solid var(--background-modifier-border);
  border-top: none;
  box-shadow: var(--shadow-s);
  flex-grow: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.clhc .tab-content .active {
  display: block;
}
.clhc .setting-item {
  flex-direction: column-reverse !important;
  -ms-flex-directionn: column-reverse !important;
  -webkit-flex-direction: column-reverse !important;
  border-top: none;
}
.clhc .setting-item .setting-item-info {
  width: 100%;
  margin-inline-end: unset !important;
}
.clhc .setting-item .setting-item-control {
  justify-content: space-between;
  width: 100%;
}
.clhc .setting-item .setting-item-control div {
  text-wrap: nowrap;
}
.clhc .setting-item .setting-item-control select {
  width: auto;
}
.clhc .setting-item .setting-item-control .long {
  width: 65%;
}
.clhc .setting-item.is-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.clhc .setting-item.is-disabled .setting-name {
  color: #777;
  text-decoration: line-through;
}
.clhc .setting-item.is-disabled .setting-description {
  color: #aaa;
}
.clhc .modal {
  width: 720px;
  max-width: 100vw;
  height: 860px;
  max-height: 90vh;
  padding: 15px;
  padding-top: 0;
  background-color: var(--background-secondary);
  position: absolute;
  left: var(--clhc-modal-position-left);
  top: var(--clhc-modal-position-top);
}
.clhc .modal .modal-title {
  text-align: center;
  height: 48px;
  line-height: 48px;
}
.clhc .modal .modal-header {
  text-align: center;
  height: 48px;
  line-height: 48px;
  padding: 0;
  margin: 0;
}
.clhc .modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.clhc .modal .modal-close-button {
  width: 32px;
  height: 48px;
  line-height: 48px;
  font-size: 32px;
}
.clhc .modal-bg {
  background-color: transparent !important;
  opacity: 0 !important;
  pointer-events: none;
}

@media (max-width: 768px) {
  .clhc .modal {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    padding: 10px;
    font-size: 14px;
  }
}
.clhc-tooltip-canvas {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.clhc-canvas {
  display: block;
  border: 1px solid var(--clhc-calendar-border-color);
  border-radius: var(--clhc-calendar-border-radius);
  background: var(--clhc-calendar-background);
}

.clhc-container-div {
  position: relative;
  top: 0;
  margin: 0 auto;
  display: inline-block;
}

.clhc-tab-content {
  display: none;
  height: 0;
}
.clhc-tab-content.active {
  display: block;
  height: 300px;
}

.clhc-donation-emoji {
  display: block;
  text-align: center;
  font-size: 10rem;
}

/*# sourceMappingURL=styles.css.map */
